<center>
<img class="mt-4" src="https://www.pngitem.com/pimgs/m/254-2549834_404-page-not-found-404-not-found-png.png" width="200px" alt="">
<h1 style="color: red;">{{message}}</h1>
<a class="btn mt-2" style="background-color: #007bff;color:white" href="/">Back Home</a>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
</center>
